*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
  }
  
  form{
    border: 2px solid gray;
    border-radius: 15px;
    width: 65vh;
    padding: 15px;
    display: inline-block;
    margin-top: 45px;
    /* position: absolute;
    top: 30px;
    transform: translate(113%); */
  }
  
  label{
    display: block;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 1px;
    justify-content: left;
  }
  
  input{
    height: 30px;
    width: 100%;
    border: 2px solid gray;
    border-radius: 5px;
    font-size: 17px;
    color: gray;
  }
  
  input:hover{
    color: gray;
  }
  
  textarea{
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: auto;
  }
  
  #btn-sub{
    font-size: 20px;
    height: 30px;
    width: 100%;
  }
  
  #btn-sub:hover{
    background-color: rgb(101, 214, 101);
    color: black;
  }